# --- Compiled Java Files ---
*.class
/bin/
/build/
/target/

# --- Artifacts (Packages) ---
*.war
*.ear
*.jar

# --- Eclipse Specific ---
# DO NOT ignore .project or .classpath if you want others 
# to easily import this as an Eclipse project.
.metadata/
.recommenders/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.loadpath
.externalToolBuilders/
*.launch
.factorypath
.apt_generated/

# --- IntelliJ / VS Code ---
.idea/
*.iml
*.iws
.vscode/

# --- Tomcat / Server Specific ---
/Servers/
.settings/org.eclipse.wst.server.core.prefs